@import url('https://fonts.googleapis.com/css2?family=Lancelot&family=Noto+Sans&family=Noto+Sans+Mono:wght@400;500&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  /* border: 1px solid black; */
}
#logo{
  height: 2%;
  margin: 1rem auto;
  mix-blend-mode: color-burn;
}
#quote-box{
  width: 40rem;
  margin: 1rem auto;
}

#text {
  
  font-family: 'Lancelot', cursive;
  font-size: 3.5rem;
  margin-bottom: 20px;
  text-align: left;
}

#author, #house {
  display: flex;
  justify-content: flex-end;
  font-size: 1.3rem;
  color: darkgray;
}
#buttons {
  display: flex ;
  align-items: center;
  justify-content: space-between;
}
#new-quote {
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
}

#buttons :hover {
  animation-duration: 0.25ms;
  opacity: 90%;
  cursor: pointer;
}
 img {height: 65px;}
 #new-quote {height: 30px;}
