@import url("https://fonts.googleapis.com/css2?family=Lancelot&family=Noto+Sans&family=Noto+Sans+Mono:wght@400;500&family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
.background {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.quote-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.logo {
  display: block;
  width: 100%;
  height: auto;
}

.buttons {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons :hover {
  transition: opacity 0.125s ease-in;
  opacity: 80%;
  cursor: pointer;
}

.tweet-quote img {
  height: 4.5rem;
}

.new-quote {
  background-color: #1d263b;
  color: white;
  font-family: "Lancelot", cursive;
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
  font-size: 1.825rem;
  border-style: none;
}

.quote-container {
  height: 40%;
  width: 100%;
}

.text {
  font-family: "Lancelot", cursive;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.author,
.house {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
  color: darkgray;
}

@media (480px <= width <=768px) {
  .App {
    padding: 0 2.25rem;
  }

  .tweet-quote img {
    height: 5rem;
  }

  .new-quote {
    font-size: 2rem;
  }

  .text {
    font-size: 2.125rem;
    margin-bottom: 2.5rem;
  }

  .author,
  .house {
    font-size: 1.625rem;
  }
}

@media (width > 768px) {
  .App {
    padding: 0 8rem;
  }
  
  .quote-box{
    height: 80%;
    max-width: 50rem;
  }
  
  .tweet-quote img {
    height: 5.125rem;
  }

  .new-quote {
    font-size: 2.125rem;
  }

  .text {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .author,
  .house {
    font-size: 1.875rem;
  }
}
