:root {
    --champagne-pink: hsla(23, 69%, 90%, 1);
    --desert-sand: hsla(25, 69%, 77%, 1);
    --persian-orange: hsla(25, 62%, 62%, 1);
    --orange-yellow-crayola: hsla(45, 99%, 82%, 1);
    --sage: hsla(75, 33%, 72%, 1);}
* {
  box-sizing: border-box;
  /* border: 1px solid; */
  margin: 0;
}
body {
  font-family: "Noto Sans", sans-serif;
}
/* NAVBAR CSS */
nav {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  background-color: var(--persian-orange);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
a{
    text-decoration: none;
    color: inherit;
}
#favicon{
  margin-left: 5rem;
  height: 80%;
}
#navbar ul {
  list-style: none;
  display: flex;
  float: right;
  justify-content:flex-end space-evenly;
  margin-right: 5rem;
}
#navbar li {
  margin: 0.75rem 1.5rem;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}
#navbar a {
  text-decoration: none;
  color: var(--champagne-pink);
}
#navbar a:hover {
  color: var(--desert-sand);
  transition: 0.15s linear;
}
/* WELCOME SECTION CSS */
#welcome-section {
  background-color: var(--sage);
  font-size: 2.8rem;
  width: 100%;
  padding: 20%;
  height: 100vh;
  color: linen;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#welcome-section p{
    font-style: italic;
    font-size: 2.4rem;
}

/* PROJECTS CSS */
/* adequate gap between title and columns */
/* text overlay image on hover  
    -p has to have a z-index over 1
    -on hover both need to switch with image having differnt opacities*/
/* larger images that adjust with vw*/
/* stylish borders for projects */
#projects{  
    padding: 5rem 2rem;
    text-align: center;
    align-items: center;
    background-color: var(--orange-yellow-crayola);
    color: maroon;
}
#projects h2 {
    margin-bottom: 3rem;
    font-size: 3.5rem;
    text-transform:lowercase;
}

.project-title-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  repeat(2, min-content);
    gap: 2em;
    margin: 0 5%;
}

.project-title-grid img {
    width: 100%;
    object-fit: cover;
    height: auto;
    margin-bottom: -8%;
    opacity: 1;
    transition: .25s ease-out;
    border: 7.5px solid var(--sage);
    border-radius: 3rem;
}

.project-title-grid p {
    position: relative;
    padding: 0 20%;
    bottom: 40%;
    transition: .25s ease;
    font-weight: 800;
    opacity: 0;
    margin-bottom: 0;
    font-size: 1.7vw;
}
.project-title-grid p:hover{
    opacity: 1;
}

.project-title-grid a:hover img{
    opacity: 0.3;
}
.project-title-grid a:hover p{
    opacity: 1;
}

/* CONTACT INFO CSS */

#contact-info{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--desert-sand);
    color: linen;
}

#contact-info h1{
    margin-bottom: 0.8vh;
    font-size: 3.5rem;
    text-align: center;
}
#contact-info p{
    margin-bottom: 1.8vh;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
}

.social-links{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-around;
    margin-top: 01.8vh;
    font-size: 1.7rem;
    margin-left: 20%;
    margin-right: 20%;

}

#profile-link {
    transition: .25s ease-out;
}
#profile-link:hover {
    color: hsla(23, 69%, 87%, 1);
}

/* RESPONSIVE DESIGN */

@media only screen and (max-width:700px) {
    #welcome-section {
        font-size: 10vw;
        padding: 20%
      }
      .project-title-grid {
        grid-template-columns: 1fr;
      }
      #profile-link {
        font-size: 3vw;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 5px;
    }
}

